In [19]:
import pandas as pd

In [20]:
covids = pd.read_csv('owid-covid-data (1).csv')
covids_df = pd.DataFrame(covids)
covids_df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,12/31/19,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,1/1/20,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,1/2/20,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,1/3/20,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,1/4/20,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33832,NaN,NaN,International,2/28/20,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33833,NaN,NaN,International,2/29/20,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33834,NaN,NaN,International,3/1/20,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33835,NaN,NaN,International,3/2/20,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33836,NaN,NaN,International,3/10/20,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
covids_df = covids_df.rename(columns ={"iso_code":"Code", "continent":"Continent","location":"Country",
                                        "date":"Date"})
covids_df = covids_df[["Code", "Continent","Country", "Date","total_cases","new_cases",
                       "total_deaths","new_deaths","total_cases_per_million","new_cases_per_million"]]
covids_df

,Code,Continent,Country,Date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million
0,AFG,Asia,Afghanistan,12/31/19,0.0,0.0,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,1/1/20,0.0,0.0,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,1/2/20,0.0,0.0,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,1/3/20,0.0,0.0,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,1/4/20,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
33832,NaN,NaN,International,2/28/20,705.0,0.0,4.0,0.0,NaN,NaN
33833,NaN,NaN,International,2/29/20,705.0,0.0,6.0,2.0,NaN,NaN
33834,NaN,NaN,International,3/1/20,705.0,0.0,6.0,0.0,NaN,NaN
33835,NaN,NaN,International,3/2/20,705.0,0.0,6.0,0.0,NaN,NaN
33836,NaN,NaN,International,3/10/20,696.0,-9.0,7.0,1.0,NaN,NaN

In [23]:
covids_df.to_csv("cleaned_covid.csv")